<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianji.message.mapper.GroupMemberMapper">
    <insert id="batchInsert">
        INSERT INTO group_members (group_id, user_id, joined_at)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.groupId}, #{item.userId}, #{item.joinedAt})
        </foreach>
    </insert>

    <select id="selectMemberIdsByGroupId" resultType="java.lang.Long">
        SELECT user_id
        FROM group_members
        WHERE group_id = #{groupId}
    </select>
</mapper>