<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianji.message.mapper.MessageReceiptMapper">
    <update id="updateStatusBatch">
        UPDATE message_receipts
        SET status = #{status},
        updated_at = #{updateTime}
        WHERE user_id = #{userId}
        AND message_id IN
        <foreach collection="messageIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>